@import '~@sandstreamdev/react-swipeable-list/dist/styles.css';

@import "../public/styles/all";

body {
    margin: 0;
    font-family: 'roboto', serif;
    
    .SwipeableList_swipeableList__1FACG {
        background: transparent;
        
        .SwipeableListItem_content__3wbMa {
            background: transparent;
        }
    }
}
